# Hugo output / cache
/public/
/resources/_gen/
/.hugo_build.lock

# OS/editor cruft
.DS_Store
Thumbs.db

*~

# Blog photos (keep locally, not in git)
content/posts/**/gallery/**
content/posts/**/feature.*

# Photos photos (keep locally, not in git)
content/panoramic/**/gallery/**
content/panoramic/**/feature.*

# bike photos (keep locally, not in git)
content/biketour/**/gallery/**
content/biketour/**/feature.*
