{{ define "main" }}

{{ $pages := where site.RegularPages "Section" "posts" }}
{{ $pages = $pages.ByDate.Reverse }}
{{ $p := .Paginate $pages }}

<section>

  <!-- Title -->
  <h1 class="text-4xl sm:text-4xl lg:text-6xl font-extrabold text-center mb-2
             tracking-tight
             drop-shadow-[0_2px_12px_rgba(0,0,0,0.35)]">
    Hippo Adventures
  </h1>


  <h2 class="mt-10 text-3xl font-extrabold mb-10">
    Latest from the blog
  </h2>

  <section id="post-list" class="space-y-10 w-full">
    {{ range $p.Pages }}
      {{ partial "article-link/simple.html" . }}
    {{ end }}
  </section>

</section>

{{ end }} 
